xml-resources/web-service-references/calcws/wsdl/localhost_8080/calcws.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SE2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SE2/" name="CalculadoraWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://SE2/" schemaLocation="http://localhost:8080/calcws?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getSub">
<part name="parameters" element="tns:getSub"></part>
</message>
<message name="getSubResponse">
<part name="parameters" element="tns:getSubResponse"></part>
</message>
<message name="getSoma">
<part name="parameters" element="tns:getSoma"></part>
</message>
<message name="getSomaResponse">
<part name="parameters" element="tns:getSomaResponse"></part>
</message>
<message name="getMul">
<part name="parameters" element="tns:getMul"></part>
</message>
<message name="getMulResponse">
<part name="parameters" element="tns:getMulResponse"></part>
</message>
<message name="getDiv">
<part name="parameters" element="tns:getDiv"></part>
</message>
<message name="getDivResponse">
<part name="parameters" element="tns:getDivResponse"></part>
</message>
<portType name="CalculadoraWS">
<operation name="getSub">
<input wsam:Action="http://SE2/CalculadoraWS/getSubRequest" message="tns:getSub"></input>
<output wsam:Action="http://SE2/CalculadoraWS/getSubResponse" message="tns:getSubResponse"></output>
</operation>
<operation name="getSoma">
<input wsam:Action="http://SE2/CalculadoraWS/getSomaRequest" message="tns:getSoma"></input>
<output wsam:Action="http://SE2/CalculadoraWS/getSomaResponse" message="tns:getSomaResponse"></output>
</operation>
<operation name="getMul">
<input wsam:Action="http://SE2/CalculadoraWS/getMulRequest" message="tns:getMul"></input>
<output wsam:Action="http://SE2/CalculadoraWS/getMulResponse" message="tns:getMulResponse"></output>
</operation>
<operation name="getDiv">
<input wsam:Action="http://SE2/CalculadoraWS/getDivRequest" message="tns:getDiv"></input>
<output wsam:Action="http://SE2/CalculadoraWS/getDivResponse" message="tns:getDivResponse"></output>
</operation>
</portType>
<binding name="CalculadoraWSPortBinding" type="tns:CalculadoraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getSub">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSoma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMul">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDiv">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CalculadoraWSService">
<port name="CalculadoraWSPort" binding="tns:CalculadoraWSPortBinding">
<soap:address location="http://localhost:8080/calcws"></soap:address>
</port>
</service>
</definitions>